<ng-container *ngIf="movie$ | async as movie">
  <app-deflist [movie]="movie">
    <ng-container *ngIf="isFavorite$ | async; else notSelected">
      <app-button
        color="danger"
        (click)="removeFromFavorites(movie.imdbID)"
      >
        <app-icon name="heroMinusCircle"></app-icon>
        <span>Delete Movie</span>
      </app-button>
    </ng-container>
    <ng-template #notSelected>
      <app-button
        color="primary"
        (click)="addToFavorites(movie)"
      >
        <app-icon name="heroPlusCircle"></app-icon>
        <span>Add Movie</span>
      </app-button>
    </ng-template>
  </app-deflist>
</ng-container>
