<header>
  <nav class="flex items-center justify-between bg-primary">
    <ul class="flex items-center m-0 p-2 bg-primary">
      <li>
        <a routerLink="/small" routerLinkActive="activenav" class="nav">Small App</a>
      </li>
      <li>
        <a routerLink="/large" routerLinkActive="activenav" class="nav">Large App</a>
      </li>
    </ul>
    <ul class="flex items-center m-0 p-2 bg-primary">
      <li>
        <a routerLink="/docs" routerLinkActive="activenav" class="nav">Docs</a>
      </li>
    </ul>
  </nav>
</header>
<main class="container mx-auto my-16">
  <router-outlet></router-outlet>
</main>
