/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-lg;
}

h1 {
  @apply text-5xl font-bold my-4;
}

h2 {
  @apply text-3xl font-bold my-8;
}

h3 {
  @apply text-2xl font-bold my-4;
}

h4 {
  @apply text-xl font-bold my-4;
}

p,
ol,
ul {
  @apply my-4;
}

.list {
  @apply list-disc pl-4;
}

.list li {
  @apply my-2;
}

.nav {
  @apply inline-block p-2 hover:text-white;
}

.activenav {
  @apply bg-white text-primary hover:text-primary;
}

main a {
  @apply text-primary hover:underline;
}

section,
.section {
  @apply max-w-3xl mx-auto my-24;
}

section > * {
  @apply my-16;
}

blockquote {
  @apply border-l-4 border-gray-300 italic my-8 pl-4;
}

dt,
dd {
  @apply p-2 border-b text-sm;
}

dt {
  /* @apply bg-gray-200; */
}

.tab {
  @apply inline-block text-gray-500 hover:text-gray-600 hover:bg-gray-200 py-4 px-4 text-sm font-medium text-center;
}

.tabActive {
  @apply text-white bg-primary hover:text-white hover:bg-primary;
}
